$blockName: heroCard;

$backgroundColor: #f3efef;
$borderColor: #c3c3c3;

.#{$blockName} {

    background-color: $backgroundColor;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    font-family: Wallie,Helvetica;
    border: 1px solid $borderColor;
    margin: 0px 10px 15px 10px;
    padding: 15px;

    &__image {
        object-fit: cover;
        height: 60%;
        width: 100%;
        min-height: 60%;
        min-width: 100%;
        border-radius: 10px;
        border: 1px solid #c3c3c3;
    }

    &__content {
        
        height: 150px;

        &__name {
            font-weight: 700;
            font-size: 1.25rem;
            color: #253238;
            display: block;
            margin: 5px 0px;
        }

        &__description {

            line-height: 1.3;
            font-size: 0.8em;
            height: 65%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;

        }
    }
}