$blockName: content;
$backgrounColor: #ececec;

.#{$blockName} {
  background-color: $backgrounColor;
  padding-top: 15px;
  overflow: scroll;

  &__logo {
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: 50%;
  }
}
