// Css resets

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.row {
  margin-right: 0px !important;
  margin-left: -15px !important;
}

$blockName: app;

.#{$blockName} {
  .header {
    position: fixed;
    top: 0px;
  }
  .content {
    position: fixed;
    top: 128px;
    height: calc(100% - 145px);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
