$blockName: searchBar;

$componentBgColor: #e62429;

$innactiveBgColor: #fbfbfb;
$innactiveBorderColor: #e62429;
$innactiveIconColor: #253238;

$activeBgColor: white;
$activeBorderColor:  #563031;
$activeIconColor: #e62429;


.#{$blockName} {
    background-color: $componentBgColor;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    

    &__inputWrapper {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 42px;
        border-radius: 21px;
        background-color: $innactiveBgColor;
        border: 1px solid $innactiveBorderColor;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 0.875rem;
        color: $innactiveIconColor;
        padding: 0 32px 0 44px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: none;
    }

    &__icon {
        position: absolute;
        top: 32px;
        transform: translateY(-50%);
        left: 20px;
        width: 40px;
        height: 30px;
        z-index: 1;
    }

    &__reset {
        position: absolute;
        right: 15px;
        top: 18px;
        background-size: contain;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        outline: none;

        &__icon {
            width: 25px;
            height: 25px;
        }
    }
}

.#{$blockName}--active .#{$blockName}{
    &__input {
        border: solid 1px $activeBorderColor;
        background-color: $activeBgColor;
    }

    &__icon path {
        fill: $activeIconColor;
    }

    &__reset {
        &__icon {
            fill: $activeIconColor;
        }
    }
}
