$blockName: header;
$backgrounColor: #e62429;

.#{$blockName} {

  text-align: center;
  background-color: $backgrounColor;
  width: 100%;

  &__logo {
      margin-top: 10px;
      background-color: $backgrounColor;
      width: 130px;
      height: 52px;
  }
}
