$blockName: footer;
$backgrounColor: #e62429;
$textColor: white;

.#{$blockName} {

    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;

    &__copy {
        font-family: Wallie,Helvetica;
        color: $textColor;
    }
}
